:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #c96b6bec;
    --cor-de-fundo: #181010;
    --fonte-principal: 'Inter'
    }

    header{
        background-color: var(--cor-de-fundo);
        color: var(--branco-principal);
       
    }

    .cabeçalho-imagem{
        width: 35%;
    }

.agricultura-texto-um{
    width: 100%;
    display: inline-block;
     margin: 0 16px;
}



.agro{
    width: 35%;
    
}

.agricultura-texto-dois{
    font-size: 20px;
}

.agricultura-texto-um{
    font-size: 20px;
    margin: 0 16px;
}

.agricultura-imagem-um{
 width: 35%;

}


